.header {
    display: flex;
    background-color: var(--yellow);
    height: 70px;
    width: 100%;
}

.img {
    padding: 15px 0px 0px 34px;
    width: 78px;
    height: 74.88px;
}

.nav {
    display: flex;

    padding: 42px 0px 0px 57px;

    font-weight: var(--semiBold);
    font-size: 14px;
    color: var(--blue-dark);
}

.elements {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 885px;
    height: 36px;

    background: var(--white);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.link {
    text-decoration: none;
}

.button_login {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 88px;

    width: 60px;
    height: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;

    font-weight: var(--semiBold);
    font-size: 14px;
    color: var(--blue-dark);
}

.button_register {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: 16.67px;
    
    width: 81.39px;
    height: 30px;

    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;

    font-weight: var(--semiBold);
    font-size: 14px;
    color: var(--blue-dark);
}


/* .header_elements {
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    width: 885px;
    height: 36px;
    left: calc(50% - 885px/2 - 83px);
    top: 42px;

    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-weight: 600;
    size: 14px;
    color: var(--blue-dark);
}

.button_login {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 60px;
    height: 30px;
    left: 1142px;
    top: 45px;

    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-weight: 600;
    size: 14px;
    color: var(--blue-dark);
}

.button_register {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 81.39px;
    height: 30px;
    left: 1218.67px;
    top: 45px;

    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    font-weight: 600;
    size: 14px;
    color: var(--blue-dark);
} */